body {
    background: #DBFFFE;
    font-family: monospace;
    text-align: left;
}
h1 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
    font-size: 180%;
  }
h2{
    font-size: 160%;
}
details > p {
    font-weight: bold;
}
.AboutMe {

}